<% provide(:title, t("static_page.help.title")) %>
<h1><%= t("static_page.help.title")%></h1>
<p>
  <%= sanitize t("static_page.help.content", rails_tut: link_to(t("rails_tut"), Settings.rails_tutorial),
    book: link_to(t("rails_book"), Settings.rails_book))
  %>
</p>
