<h1> <%= t("static_page.home.title") %> </h1>
<div class="center jumbotron">
  <p>
    <%= sanitize t("static_page.home.content",
      link: link_to(t("rails_tut"), Settings.rails_tutorial))
    %>
  </p>
  <%= link_to t("sign_up_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag(Settings.rails_svg, alt: "Rails logo", class: "rails-logo"),
Settings.rails %>
