<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to "sample app", static_pages_home_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_page.home.title"), static_pages_home_path %></li>
        <li><%= link_to t("static_page.help.title"), static_pages_help_path %></li>
        <li><%= link_to t("layout.header.login"), '#' %></li>
      </ul>
    </nav>
  </div>
</header>
